{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'img/QuentinhaCirgularLogo.png' %}" type="image/x-icon">
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
    <title>{{dados.nome}}</title>
</head>
<body>
<!-- INICIO CABEÇALHO DO SITE -->
<header class="topo-site">
    <a href="" class="logo">
        <i class="fa fa-utensils"></i>
       {{dados.nome}}
    </a>
    <nav class="menu-site">
        <a href="/">Inicio</a>
        <a href="/empresa">Empresa</a>
        <a href="/cardapio">Cardapio</a>
        <a href="">Montar pedido</a>
        <a href="/blog">Blog</a>
        <a href="/contatos">Fale conosco</a>
    </nav>
    <div class="icons">
        <div id="cart" class="fa fa-shopping-cart"></div>
        <div id="login" class="fa fa-users"></div>
        <div id="menu" class="fa fa-bars"></div>
        <a href="/admin"  target="_blank" class="fa fa-user-shield admin-icon" title="Admin"></a> 
  
    </div>
    <div class="carrinho">
      <!--   <h1 style="text-align: center;color: gray;">Carrinho vazio</h1> -->


        <!-- Box do item no carrinho -->

        <div class="box">
            <i class="fa fa-times"></i>
            <img src="{% static 'img/quentinha2.png' %}" width="100" height="70" alt="">
            <div class="content">
                <h3>Marmita Fitness</h3>
                <span class="quantidade">1</span>
                <span class="multiplica">x</span>
                <span class="valor">R$ 12,00</span>
            </div>
        </div>
        
        <h3 class="total"> Total: 00,00 </h3>
        <a href="" class="btn">Fechar pedido </a>
    </div>
    <form action="admin/login/?next=/admin/" method="post" class="login-form">
        {% csrf_token %}
        <h3>Acesso à conta</h3>
        <input type="text" name="username" placeholder="Seu E-mail" class="box">
        <input type="password" name="password" placeholder="Sua senha" class="box">
        <div class="lembrar-senha">
            <input type="checkbox" name="remember" id="relembrar">
            <label for="relembrar">Me lembrar da senha</label>
        </div>
        <button type="submit" name="sendLogin" class="btn">Acessar</button>
    </form>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<section class="rodape">
    <div class="box-container">
        <div class="box">
            <h3>{{dados.nome}}</h3>
            <p>Melhor quentinha da cidade</p>
            <div class="rede-sociais">
                <a href="" class="fab fa-facebook-f"></a>
                <a href="//www.instagram.com/quentinhadelivery0" class="fab fa-instagram"></a>
                <a href="" class="fab fa-youtube"></a>
                <a href="" class="fab fa-facebook-f"></a>
            </div>
        </div>
        <div class="box">
            <h3>Faça seu pedido</h3>
            <a class="link" title="WhatsApp" href="//api.whatsapp.com/send/?phone={{dados.formatar_wtt}}&text=Olá gostaria+de+fazer+um+pedido%21&type=phone_number&app_absent=0">{{ dados.fone}} </a><br><br>
            <a class="link" href="mailto:quentinhadelivery@gmail.com" title="quentinhadelivery@gmail.com">quentinhadelivery@gmail.com</a>
        </div>
        <div class="box">
            <h3>Localização</h3>
            <p>
                {{dados.endereco}}, {{dados.numero}} <br>
               {{ dados.bairro}} <br>
                {{dados.cidade.nome}}/{{dados.cidade.uf}} <br>
                {{ dados.cep}}
            </p>
        </div>
    </div>
    <div class="direitos">
        Criado por <span> Olavo Adriel </span> | Todos os direitos reservados
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/qd.js' %}"></script>
</body>
</html>
