{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- INICIO TOPO DA PAGINA DO SITE -->
<div class="topo-pagina">
    <h1>Sobre nós</h1>
    <p><a href="/" title="sobre nós">Inicio ></a> empresa </p>
</div>

<!-- FIM TOPO DA PAGINA DO SITE -->

<!-- INICIO COMO FUNCIONA O -->
<div class="como-funciona">
    <h1 class="titulo"> Como <span>Funciona</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="{% static 'img/como-funciona/1.png' %}" alt="">
            <h3>Faça seu pedido</h3>
        </div>
        <div class="box">
            <img src="{% static 'img/como-funciona/2.png' %}" alt="">
            <h3>Entrega rápida</h3>
        </div>
        <div class="box">
            <img src="{% static 'img/como-funciona/3.png' %}" alt="">
            <h3>Pagamento fácil</h3>
        </div>
        <div class="box">
            <img src="{% static 'img/como-funciona/4.png' %}" alt="">
            <h3>Bom apetite</h3>
        </div>
    </div>
</div>
<!-- FIM COMO FUNCIONA O -->

<!-- INICIO SOBRE A EMPRESA SITE -->
<section class="empresa">
    <div class="row">
        <div class="empresa-img">
            <img src="{% static 'img/empresa_video.gif' %}" alt="780x900" onerror="this.onerror=null; this.src='{% static 'img/fachadaMarmitaria.jpeg' %}'">
        </div>
        <div class="content">
            <h3>{{dados.nome}}:</h3>{{dados.subtitulo|safe}} 
            {{ dados.descricao|safe}}
        </div>
    </div>
</section>
<!-- FIM SOBRE a EMPRESA SITE -->

<br>
<br>

<!-- INICIO GALERIA DE FOTOS SITE -->
<section class="galeria-fotos">
    <div class="galeria-container">
        <a href="{% static 'img/galeria/marmita1.jpg' %}" class="box">
            <img src="{% static 'img/galeria/marmita1.jpg' %}" alt="">
            <div class="icon">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        <a href="{% static 'img/galeria/marmita2.jpg' %}" class="box">
            <img src="{% static 'img/galeria/marmita2.jpg' %}" alt="">
            <div class="icon">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        <a href="{% static 'img/galeria/marmita3.jpg' %}" class="box">
            <img src="{% static 'img/galeria/marmita3.jpg' %}" alt="">
            <div class="icon">
                <i class="fas fa-plus"></i>
            </div>
        </a>
    </div>
</section>
<!-- FIM GALERIA DE FOTOS SITE -->
{% endblock %}
