
{% extends "new_template/base2.html" %}
{% block title %} Cardapio{% endblock %}
{% load static %}
{% block content %}

<div id="sb-dynamic-content" class="sb-transition-fade" data-swup="0">

    <!-- banner -->
    <section class="sb-banner sb-banner-xs sb-banner-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- main title -->
            <div class="sb-main-title-frame" style="
            padding-bottom: 20px;
        ">
              <div class="sb-main-title">
                <h1 class="sb-h2 text-center">Monte sua Quentinha</h1>
                
              </div>
            </div>
            <!-- main title end -->
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- product -->
    <section class="sb-p-50-0">
      <div class="container">
        <div class="row align-items-center" >
          <div class="col-lg-6">
            <div class="sb-gallery-item sb-gallery-square sb-mb-90">
              <img src="{{dados_produto.capa}}" alt="photo">
              <div class="sb-badge sb-vegan"><i class="fas fa-leaf"></i> Vegan</div>
              <!-- button -->
              <a data-fancybox="menu" data-no-swup="" href="img/menu/4.jpg" class="sb-btn sb-btn-2 sb-btn-icon sb-btn-gray sb-zoom sb-click">
                <span class="sb-icon">
                  <img src="img/ui/icons/zoom.svg" alt="icon">
                </span>
              </a>
              <!-- button end -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sb-product-description sb-mb-20">
              <div class="sb-price-frame sb-mb-30">
                <h3>{{ dados_produto.titulo}}</h3>
                <div class="sb-price"><sub>R$</sub> {{dados_produto.preco}}</div>
                
              </div>
<!--               <ul class="sb-stars sb-mb-25">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><span>(4 ratings)</span></li>
              </ul> -->
  <!--             <p class="sb-text sb-mb-30"><span>tomatoes</span>, <span>nori</span>, <span>feta cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>, <span>corn</span>, <span>shrimp</span>.</p> -->
  <div class="sb-buttons-frame sb-buttons-top">
    <div class="sb-input-number-frame">
      <div class="sb-input-number-btn sb-sub">-</div>
      <input type="number" value="1" min="1" max="10">
      <div class="sb-input-number-btn sb-add">+</div>
    </div>
    <!-- button -->
    <a href="#." class="sb-btn sb-atc">
      <span class="sb-icon">
        <img src="{% static 'img/ui/icons/cart.svg' %}" alt="icon">
      </span>
      <span class="sb-add-to-cart-text">Adicionar</span>
      <span class="sb-added-text">Added</span>
    </a>
    <!-- button end -->
  </div>
              
            </div>
          </div>
        </div>
        <!-- filter -->
        <label for="tamanho" class="block text-gray-700 text-sm font-bold mb-2">Escolha o tamanho:</label>
        <div class="sb-filter">
          <a href="#." class="sb-filter-link sb-active" data-value="p">P</a>
          <a href="#." class="sb-filter-link" data-value="g">G</a>
        </div>
        {% if dados_produto.tipo == 'Q' %}
        <div class="sb-filter">
          <a href="#." data-filter=".sb-ingredients-tab" class="sb-filter-link sb-active">Proteinas</a>
          <a href="#." data-filter=".sb-ingredients-tab2" class="sb-filter-link">Carboidratos</a>
          <!--           
          <a href="#." data-filter=".sb-ingredients-tab" class="sb-filter-link sb-active">Ingredients</a>
          <a href="#." data-filter=".sb-reviews-tab" class="sb-filter-link">Reviews</a> -->
        </div>
        <!-- filter end -->
        
        <div class="sb-masonry-grid sb-tabs" style="position: relative; height: 299px;">
          <div class="sb-grid-sizer" style="position: absolute; display: none;"></div>
          <div class="sb-grid-item sb-ingredients-tab" style="position: absolute; left: 0%; top: 0px;">
            <div class="sb-tab">
              <ul class="sb-list">
              {% for proteina in dados_produto.proteinas %}
                <div class="customCheckBoxHolder">
                  <input class="customCheckBoxInput" id="proteina_{{proteina.id}}" type="checkbox" value="{{proteina.id}}" />
                  <label class="customCheckBoxWrapper" for="proteina_{{proteina.id}}">
                    <div class="customCheckBox">
                      <div class="inner">{{ proteina.titulo}}</div>
                    </div>
                  </label>
                
                 
                </div>
                {% endfor %}
                
              </ul>
              
            </div>
          </div>
          <div class="sb-grid-item sb-ingredients-tab2" style="position: absolute; left: 0%; top: 0px;">
            <div class="sb-tab">
              <ul class="sb-list">
                {% for acompanhamento in dados_produto.acompanhamentos %}
                <div class="customCheckBoxHolder">
                  <input class="customCheckBoxInput" id="acompanhamento_{{acompanhamento.id}}" type="checkbox" value="{{acompanhamento.id}}" />
                  <label class="customCheckBoxWrapper" for="acompanhamento_{{acompanhamento.id}}">
                    <div class="customCheckBox">
                      <div class="inner">{{ acompanhamento.nome}}</div>
                    </div>
                  </label>
                
                 
                </div>
                
                
                {% endfor %}
              </ul>
            </div>
          </div>
<!--           <div class="sb-grid-item sb-details-tab" style="position: absolute; left: 0%; top: 0px; display: none;">
            <div class="sb-tab">
              <p class="sb-text sb-mb-15">Facilis ratione veritatis asperiores doloremque molestiae delectus iure officia earum dolores sit fugiat, repellendus, neque laboriosam optio culpa quibusdam, magnam totam quos. Mollitia dolorem, culpa,
                dignissimos
                quas et voluptates architecto in sit totam, quae animi ratione adipisci nulla ab quasi perferendis quo pariatur dolor magnam inventore. Sequi nisi ex excepturi non harum, asperiores laboriosam ipsum voluptate doloribus incidunt nam
                eveniet similique unde esse voluptatem minus necessitatibus eaque temporibus quaerat accusantium amet deserunt. Iste, facilis? Illo tenetur, libero, non dicta asperiores quisquam voluptas natus aperiam, at perspiciatis repellat
                voluptate. Autem non reprehenderit, perferendis.</p>
              <div class="sb-text">Consectetur adipisicing elit. Delectus quibusdam repellendus nesciunt cumque fugit numquam adipisci voluptatum quam, sapiente doloribus ut eaque natus laudantium alias illum quos maiores, quia perferendis.</div>
            </div>
          </div> -->
          <!-- <div class="sb-grid-item sb-reviews-tab" style="position: absolute; left: 0%; top: 0px; display: none;">
            <div class="sb-tab">
              <div class="row">
                <div class="col-lg-6">
                  <div class="sb-review-card sb-mb-60">
                    <div class="sb-review-header sb-mb-15">
                      <h4 class="sb-mb-10">Very tasty</h4>
                      <ul class="sb-stars">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                    <p class="sb-text sb-mb-15">Inventore possimus laudantium provident, rem eligendi velit. Aut molestias, ipsa itaque laborum, natus
                      tempora, ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                    <div class="sb-author-frame">
                      <div class="sb-avatar-frame">
                        <img src="img/faces/1.jpg" alt="Guest">
                      </div>
                      <h4>Emma Newman</h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="sb-review-card sb-mb-60">
                    <div class="sb-review-header sb-mb-15">
                      <h4 class="sb-mb-10">I have lunch here every day</h4>
                      <ul class="sb-stars">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                    <p class="sb-text sb-mb-15">Tempora ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit Reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                    <div class="sb-author-frame">
                      <div class="sb-avatar-frame">
                        <img src="img/faces/2.jpg" alt="Guest">
                      </div>
                      <h4>Paul Trueman</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        
        {% endif %}

        <div class="sb-buttons-frame sb-buttons-bottom">
          <div class="sb-input-number-frame mr-2">
            <div class="sb-input-number-btn sb-sub">-</div>
            <input type="number" value="1" min="1" max="10">
            <div class="sb-input-number-btn sb-add">+</div>
          </div>
          <!-- button -->
          <a href="#." class="sb-btn sb-atc">
            <span class="sb-icon">
              <img src="{% static 'img/ui/icons/cart.svg' %}" alt="icon">
            </span>
            <span class="sb-add-to-cart-text">Adicionar</span>
            <span class="sb-added-text">Added</span>
          </a>
          <!-- button end -->
        </div>
      </div>
    </section>
    <!-- product end -->

    <!-- short menu -->
    
    <!-- short menu end -->

    <!-- call to action -->
    
    <!-- call to action end -->

</div>
<style>
  /* From Uiverse.io by taieb1919 */ 
.customCheckBoxHolder {
  margin: 5px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.customCheckBox {
  width: 100%; /* Ensures each checkbox has the same width */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(71, 69, 69, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 18px;
  font-weight: 500;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper {
  width: 100%; /* Ensures each wrapper takes full width of the holder */
}

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
  background-color: #ffc107;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
  background-color: #ffc107;
  box-shadow:
    rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}

/* Esconder o botão de baixo em telas grandes */
.sb-buttons-bottom {
  display: none;
}

/* Esconder o botão de cima em telas pequenas */
.sb-buttons-top {
  display: block;
}

/* Estilos para telas menores (mobile) */
@media (max-width: 768px) {
  .sb-buttons-top {
    display: none !important;
  }

  .sb-buttons-bottom {
    display: flex; /* ou block, conforme o layout */
    justify-content: center;
    margin-top: 20px;
  }
}

</style>
{% endblock %}