{% extends "new_template/base2.html" %}
{% load static %}
{% block content %}


    <!-- dynamic content -->
    <div id="sb-dynamic-content" class="sb-transition-fade">

      <!-- banner -->
      <section class="sb-banner sb-banner-xs sb-banner-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title">
                  <h1 class="sb-h2">Escolha o tamanho</h1>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->

      <!-- shop list -->
      <section class="sb-menu-section sb-p-90-60">
        <div class="sb-bg-1">
          <div></div>
        </div>
        <div class="container">
          <div class="row">
          <!-- INICIO SUB ITEM SLIDE PRINCIPAL -->
          {% for produto in quentinhas %}
            <div class="col-lg-3">
              <div class="sb-menu-item sb-mb-30">
                <a href="product.html" class="sb-cover-frame">
                  <img src="{{ produto.src }}" alt="product">
                </a>
                <div class="sb-card-tp">
                  <h4 class="sb-card-title"><a href="product.html">{{produto.titulo}}</a></h4>
                  <div class="sb-price"><sub>R$</sub> {{produto.valor_promo}}</div>
                </div>
                <div class="sb-description">
                  <p class="sb-text sb-mb-15">{{ produto.descricao |safe}}.</p>
                 
                </div>
                <div class="sb-card-buttons-frame">
                  <!-- button -->
                  <a href="product.html" class="sb-btn sb-btn-2 sb-btn-gray sb-btn-icon sb-m-0">
                    <span class="sb-icon">
                      <img src="{% static 'img/ui/icons/arrow.svg' %}" alt="icon">
                    </span>
                  </a>
                  <!-- button end -->
                  <!-- button -->
                  <a href="#." class="sb-btn sb-atc">
                    <span class="sb-icon">
                      <img src="{% static 'img/ui/icons/cart.svg' %}" alt="icon">
                    </span>
                    <span class="sb-add-to-cart-text">Selecionar</span>
                    
                  </a>
                  <!-- button end -->
                </div>
              </div>
            </div>
            <!-- FIM SUB ITEM SLIDE PRINCIPAL -->
            {% endfor %}
            
          </div>
        
        </div>
      </section>
      <!-- shop list end -->

      <!-- promo 
      <section class="sb-p-0-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="sb-promo-frame sb-mb-30">
                <div class="sb-promo-content">
                  <div class="sb-text-frame">
                    <h3 class="sb-mb-10"><sup>-</sup> <b class="sb-h2">50</b> <sup>%</sup></h3>
                    <h3 class="sb-mb-15">Discount for all* burgers!</h3>
                    <p class="sb-text sb-text-sm sb-mb-15">*Et modi itaque praesentium.</p>
                     button 
                    <a href="product.html" class="sb-btn sb-ppc">
                      <span class="sb-icon">
                        <img src="{% static 'img/ui/icons/arrow.svg' %}" alt="icon">
                      </span>
                      <span>Get it now</span>
                    </a>
                     button end 
                  </div>
                  <div class="sb-image-frame">
                    <div class="sb-illustration-4">
                      <img src="img/illustrations/burger.png" alt="burger" class="sb-burger">
                      <div class="sb-cirkle-1"></div>
                      <div class="sb-cirkle-2"></div>
                      <div class="sb-cirkle-3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-promo-frame sb-mb-30">
                <div class="sb-promo-content">
                  <div class="sb-text-frame">
                    <h3 class="sb-mb-15">Visit Starbelly and get your coffee*</h3>
                    <h3 class="sb-mb-10"><b class="sb-h2">For free!</b></h3>
                    <p class="sb-text sb-text-sm sb-mb-15">*Et modi itaque praesentium.</p>
                     button 
                    <a href="product.html" class="sb-btn sb-ppc">
                      <span class="sb-icon">
                        <img src="{% static 'img/ui/icons/arrow.svg' %}" alt="icon">
                      </span>
                      <span>Get it now</span>
                    </a>
                     button end 
                  </div>
                  <div class="sb-image-frame">
                    <div class="sb-illustration-5">
                      <img src="img/illustrations/cup.png" alt="cup" class="sb-cup">
                      <div class="sb-cirkle-1"></div>
                      <div class="sb-cirkle-2"></div>
                      <div class="sb-cirkle-3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
       promo end -->

      <!-- footer -->
     <!-- footer -->
     {% endblock %}
